extends layouts/main-layout.pug

block content
    if !profileUser
        span Check your URL 
    else
        script. 
            var profileUserId = '!{profileUser._id}';
            var selectedTab = '!{selectedTab}';
        .tabsContainer 
            +createTab("Following", `/profile/${profileUser.username}/following`, selectedTab != 'followers')
            +createTab("Followers", `/profile/${profileUser.username}/followers`, selectedTab == 'followers')
        .resultsContainer
            
block scripts 
    script(src="/js/followersAndFollowing.js") 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
