extends layouts/login-layout.pug

block content
    .loginContainer 
        h1 login 
        p.errMessage #{errorMessage}
        form(method="post")
            input( type="text", name="loginUsername",placeholder="username or email",value=logUsername required="")
            input( type="text", name="loginPassword",placeholder="password",required="")
            input( type="submit", value="Login")
        a(href="/register") Need an account ? Register here. 
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj', crossorigin='anonymous')
