mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile picure")
        .textAreaContainer 
            textarea#postTextarea(placeholder="what's happening?")
            .button
                button#submitPostButton(disabled="") Post
mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer 
                    .postFormContainer 
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user's profile picure")
                        .textAreaContainer 
                            textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button',disabled="") Save changes